
.grid{
    grid-gap: 20px;
    justify-content: flex-end;
    display: flex;
    padding: 10px;
   
}
.gridItem{
    display: flex;
    flex-direction: column;
    background-color: black;
    border:1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-font-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-in-out;
    color: white;
    justify-content: end;
}